torch
transformers
peft
datasets
trl
tokenizers
accelerate
matplotlib
scikit-learn
wandb
bitsandbytes
einops
sacremoses
sentencepiece


protobuf==3.20.3
psutil
markdown>=3.4
bleach[css]~=5.0.1
